body {
	margin: 0;
}

canvas {
	
	left: 0;
	top : 0;
	/* width: 160px !important;
	height: auto !important; */
}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	color: white;
}